.menu__item {
  align-items: center;
  display: flex;
  height: 100%;
  left: 0;
  position: absolute;
  text-decoration: none;
  top: 0;
  width: 100%;
}
.menu__item__icon {
  padding-left: var(--tfg-margin-medium);
  padding-right: var(--tfg-margin-medium);
}
