:root {
  --tfg-color-background: #fff;
  --tfg-color-primary: #6200ee;
  --tfg-color-primary--light: #9e47ff;
  --tfg-color-primary--dark: #0400ba;
  --tfg-color-secondary: #018786;
  --tfg-color-secondary--light: #4fb7b6;
  --tfg-color-secondary--dark: #005959;
  --tfg-color-on-primary: #fff;
  --tfg-color-on-secondary: #fff;
  --tfg-color-error: #b00020;
  --tfg-color-info: #1565c0;
  --tfg-color-success: #8bc34a;
  --tfg-color-warning: #ffa726;
}
