.header {
    align-items: center;
}
.header__content {
    justify-content: center;
    align-items: center;
}
.header__image {
    height: 3rem;
}
.header__title{
    padding-right: var(--tfg-padding-right-medium);
    padding-left: var(--tfg-padding-right-medium);
}