.movement {
    align-items: center;
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 1rem;
}

.movement__icon {
    --mdc-icon-size: 3em;
}

.movement__icon--up {
    color: var(--tfg-color-success);
}

.movement__icon--down {
    color: var(--tfg-color-error);
}